@CHARSET "UTF-8";
header { 
	width: 100%; 
	margin: 0 auto; 
	border-bottom: #3c7a48 1px solid
}

.wraper{ 
	width:1000px; 
	/* padding-top:150px;  */
	margin:0 auto
}
.quotes { 
	width: 1000px; 
	position: relative; 
	margin: 60px auto 260px 10px;
}
.quotes p { 
	text-shadow: #3D5E26 2px 2px 2px; 
	color: #fff; 
	width: 330px; 
	line-height: 23px;
}

