@charset "utf-8";
*{margin:0;padding:0;border:0;list-style: none;}
.menu{height:48px;display:block;padding:0px;width:999px;margin: 100px auto 30px 0;background-image:url(../images/s_03.jpg);background-repeat:repeat;background:#339999}
.menu ul{list-style:none;padding:0;}
.menu ul li{float:left;overflow:hidden;position:relative;line-height:48px;text-align:center;}
.menu ul li a{position:relative;display:block;color:#fff;width:111px;height:48px;font-family:"微软雅黑", "宋体";font-size:14px;text-decoration:none;cursor:pointer;font-weight:bold;line-height:48px;}
.menu ul li a span{position:absolute;left:0;width:111px;}
.menu ul li a span.out{top:0px;}
.menu ul li a span.over,  .menu ul li a span.bg{top:-48px;}
.menu ul li a span.over{color:#FFF;height:48px;width:111px;background-image:url(../images/w_03.jpg);background-repeat:repeat;}