@CHARSET "UTF-8";

* { margin: 0; padding: 0 }

.photo {
	width: 1000px;
	height: auto;
	margin:0 auto; 
	border:2px solid #ccc;
    line-height: normal;
    background: #f7f7f7;
}


    
.photo .bw_bc_title {
      font-size: 30px;
      color: #333;
      line-height: 50px;
      text-align: center;
}

.photo .titleTopBlock {
      width: auto;
      height: 32px;
      padding: 37px 0px 15px 0px;
	  font-size:14px;
}
	
.photo .titleTopBlock .leftBlock {
        float: left;
		display: block;
        padding-left: 30px;
}
	
.photo .titleTopBlock .rightBlock {
        float: right;
        display: block;
        padding-right: 30px;
        background: url("../images/icon15.gif") no-repeat right center;
}
 	
      	
      	
      	

.photo .changePhotoBlockS {
    width: 1000px;
    height: auto;
    padding: 20px 0 20px 0;
    clear: both;
    zoom: 1;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.photo .changePhotoBlock {
    width: 1000px;
    height: auto;
    clear: both;
    zoom: 1;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
	
.photo .changePhotoBlock li {
      height: 1000px;
      display: block;
}
    
.photo .changePhotoBlock img {
      max-width: 1000px;
      max-height: auto;
}

    
.photo .changePhotoBlock td a {
	  width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      right: -7px;
      top: 313px;
	  vertical-align:center;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 -120px;
      z-index: 999;
}

.photo .changePhotoBlock td a.left{
	  width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      left: -6px;
      top: 313px;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 0;
      z-index: 999;
}

.photo .changePhotoBlock td a.left:hover {
        background: url("../images/bw_leftBbtns.png") no-repeat 0 -60px;
}

.photo .changePhotoBlock td a.right {
      width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      right: -7px;
      top: 313px;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 -120px;
      z-index: 999;
}

.photo .changePhotoBlock td a.right:hover {
        background: url("../images/bw_leftBbtns.png") no-repeat 0 -180px;
}



  	
 

