@CHARSET "UTF-8";

* { margin: 0; padding: 0 }

.photo {
	width:1000px;
	height:auto;
	border:2px solid #ccc;
	font-size:12px;
	margin:0 auto;
	background:black;
}

/*  .photo .left {
      width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      left: -106px;
      top: 713px;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 0;
      z-index: 999;
}
	
.photo .left:hover {
        background: url("../images/bw_leftBbtns.png") no-repeat 0 -64px;
}
      	
.photo .right {
      width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      right: -107px;
      top: 713px;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 -128px;
      z-index: 999;
}

.photo .right:hover {
        background: url("../images/bw_leftBbtns.png") no-repeat 0 -192px;
} */
    	
    	

.photo dl.detail {
	text-align:center;
	margin:20px;
} 

.photo dl.detail dt a {
	/* color:#f60;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	vertical-align:top; */
	  width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      right: 60px;
      top: 613px;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 -128px;
      z-index: 999;
}

.photo dl.detail dt a.left{
	 width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      left: -106px;
      top: 713px;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 0;
      z-index: 999;
}

.photo dl.detail dt a.left:hover {
        background: url("../images/bw_leftBbtns.png") no-repeat 0 -64px;
}

.photo dl.detail dt a.right {
      width: 68px;
      height: 64px;
      line-height: normal;
      position: absolute;
      right: -107px;
      top: 713px;
      cursor: pointer;
      background: url("../images/bw_leftBbtns.png") no-repeat 0 -128px;
      z-index: 999;
}

.photo dl.detail dt a.right:hover {
        background: url("../images/bw_leftBbtns.png") no-repeat 0 -192px;
}

.photo dl.detail img {

	margin:0 auto;
}


.photo dl.detail dt span {
	font-size:14px;
	color:#666;
	font-weight:bold;
	vertical-align:top;
	padding:10px;
}


.photo dl.detail dd {
	padding:10px;
	font-size:14px;
	margin:0 auto;
	color:white;
}
.photo dl.detail dd.name {
	font-weight:bold;
	color:white;
}
.photo p.line {
	clear:both;
	width:95%;
	margin:0 auto;
	height:10px;
	border-bottom:1px dashed #333;
}

