@CHARSET "UTF-8";


#member #member_main dl {
	width:780px;
	margin:0 auto;
	font-size:14px;
}
#member #member_main dl dd {
	padding:10px 0;
}
#member #member_main dl dd p textarea {
	width:220px;
	height:60px;
	background:#fff;
	margin:5px 0 0 70px;
}
#member #member_main dl dd input.text {
	width:220px;
	height:19px;
	background:#fff;
}
#member #member_main dl dd input.yzm {
	width:60px;
}
#member #member_main dl dd img#code {
	position:relative;
	top:8px;
	cursor:pointer;
}
#member #member_main dl dd input.submit {
	width:60px;
	height:22px;
	background:#fff;
	cursor:pointer;
}