@CHARSET "UTF-8";
#member #member_main dl {
	width:90%;
	margin:10px auto;
}
#member #member_main dl dd {
	margin:5px;
	line-height:150%;
}
#member #member_main dl dd input {
	width:70px;
	height:20px;
	font-size:12px;
	cursor:pointer;
}
#member #member_main dl dd.button {
	text-align:center;
}
